<div {{bindAttr class=":main showingSettings"}}>

  <div class="topbar">
    <a class="settingsToggle" href="javascript://" {{action 'toggleSettings'}}>&#9776;</a>
    {{outlet topbar}}
  </div>

  {{outlet}}

</div>

{{outlet modal}}

{{partial "settings"}}