<div class="main slideOver">

  <div class="topbar">
    {{#linkTo 'location.map'}}Close{{/linkTo}}
    <h1>Add Location</h1>
  </div>

  <div class="content">

    <form {{action "createLocation" on="submit"}}>

      <h2>To what categories does this ministry belong?</h2>

      <ul>
       {{#each types}}
          <li>
            {{view Ember.Checkbox checkedBinding="checked"}}
            <label>{{name}}</label>
          </li>
       {{/each}}
      </ul>

      <h2>What areas of ministry happens on this location?</h2>

      <ul>
       {{#each areas}}
          <li>
            {{view Ember.Checkbox checkedBinding="checked"}}
            <label>{{name}}</label>
          </li>
       {{/each}}
      </ul>

      <h2>Don't you also think that there should be a good question here?</h2>

      <label for="desc">What is the actual work? Towards what demographic or people group is this work aimed at? What does this involve?</label>
      {{view Ember.TextArea id="desc" valueBinding="desc"}}

      <h2>Would you, say, think its about hashtag time?</h2>

      <label for="tags">#yolo</label>

      <ul id="tags"></ul>

      {{view Ember.TextField valueBinding="tagString" type="hidden"}}

      <h2>How can we stay in contact with this ministry?</h2>

      <label for="email">Email</label>
      {{view Ember.TextField id="email" valueBinding="email" type="email"}}

      <label for="phone">Phone</label>
      {{view Ember.TextField id="phone" valueBinding="phone" type="text"}}

      <label for="website">Website</label>
      {{view Ember.TextField id="website" valueBinding="website" type="text"}}

      <h2>Who can know this information?</h2>
      {{view Ember.Select
        contentBinding="security_level_options"
        optionValuePath="content.level"
        optionLabelPath="content.name"
        selectionBinding="security_level"
      }}

      <a href="javascript://" class="action" {{action "createLocation"}}>Add location</a>

    </form>

    {{outlet}}

  </div>

</div>