<div class="main slideOver">

  <div class="topbar">
    {{#linkTo 'location.map'}}Close{{/linkTo}}
    <h1>Add Location</h1>
  </div>

  <div class="content">

    <form {{action "createLocation" on="submit"}}>

      <h2>What main type of activity did you do at this location?</h2>

      <ul>
       {{#each types}}
          <li>
            {{view Ember.Checkbox checkedBinding="checked"}}
            <label>{{name}}</label>
          </li>
       {{/each}}
      </ul>

      <h2>What other activities did you do at this location?</h2>

      <ul>
       {{#each areas}}
          <li>
            {{view Ember.Checkbox checkedBinding="checked"}}
            <label>{{name}}</label>
          </li>
       {{/each}}
      </ul>

      <h2>Please give a brief description about this location</h2>

      <label for="desc">Languages spoken? Spiritual or Physical Needs? Future Ministry Opportunities? Opennes to the Gospel?</label>
      {{view Ember.TextArea id="desc" valueBinding="desc"}}

      <h2>What other tags would be fitting for this ministry?</h2>

      <label for="tags">Eg; water-access, prayer-room, children-education, etc</label>

      <ul id="tags"></ul>

      {{view Ember.TextField valueBinding="tagString" type="hidden"}}

      <h2>Please include any contact info for future ministry activities.</h2>

      <label for="email">Email</label>
      {{view Ember.TextField id="email" valueBinding="email" type="email"}}

      <label for="phone">Phone</label>
      {{view Ember.TextField id="phone" valueBinding="phone" type="text"}}

      <label for="website">Website</label>
      {{view Ember.TextField id="website" valueBinding="website" type="text"}}

      {{view Ember.Checkbox id="contact_info_is_authorized" checkedBinding="contact_info_is_authorized"}}
      <label for="contact_info_is_authorized">I am authorized to send this contact information.</label>

      <h2>Who can know this information?</h2>
      {{view Ember.Select
        contentBinding="security_level_options"
        optionValuePath="content.level"
        optionLabelPath="content.name"
        selectionBinding="security_level"
      }}

      <a href="javascript://" class="action" {{action "createLocation"}}>Add location</a>

    </form>

    {{outlet}}

  </div>

</div>