{{#if listView}}

  <ul>
    {{#each model}}
      <li>{{#linkTo 'location' this}}{{this.desc}} - {{this.lat}}, {{this.long}} {{/linkTo}}</li>
    {{/each}}
  </ul>

{{else}}

  {{view DataCollectionApp.LocationsMapView}}

{{/if}}

{{outlet}}
