<div class="main slideOver">

  <div class="content">

    <form {{action "createLocation" on="submit"}}>

      <h2>To what categories does this ministry belong?</h2>

      <ul>
       {{#each types}}
          <li>
            <input type="checkbox" name="category[{{tagize type}}]" id="category-{{tagize type}}">
            <label for="category-{{tagize type}}">{{type}}</label>
          </li>
       {{/each}}
      </ul>

      <h2>What areas of ministry happens on this location?</h2>

      <ul>
       {{#each areas}}
          <li>
            <input type="checkbox" name="category[{{tagize area}}]" id="category-{{tagize area}}">
            <label for="category-{{tagize area}}">{{area}}</label>
          </li>
       {{/each}}
      </ul>

      <label for="desc">Description of the amazing things you've seen</label>
      {{view Ember.TextArea id="desc" valueBinding="desc"}}

      <label for="tags">Tagz!</label>
      {{view Ember.TextField id="tags" valueBinding="tags"}}

      <br>

      <button class="btn" type="submit">Add</button>

    </form>

    {{outlet}}

  </div>

</div>